In [2]:
import pandas as pd

In [3]:
# Load the DataFrame
df = pd.read_csv('data/hotels.csv')

# Breakfast

In [4]:
# We can see that there are some overlap
df.Breakfast.value_counts()

Breakfast included             239
Breakfast & dinner included      5
All-inclusive                    5
Name: Breakfast, dtype: int64

In [5]:
BreakfastReplacmentDict = {'Breakfast included': 1, 'Breakfast & dinner included': 2, 'All-inclusive': 3, 'All meals included': 3}
df.Breakfast = df.Breakfast.map(BreakfastReplacmentDict)

In [6]:
# There are some Nan values, most likelytheir meaning is no meals at all
df.Breakfast.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: Breakfast
Non-Null Count  Dtype
--------------  -----
249 non-null    float64
dtypes: float64(1)
memory usage: 32.9 KB

In [7]:
df.Breakfast.fillna(0, inplace=True)
df.Breakfast = df.Breakfast.astype(int)

In [8]:
df.Breakfast.value_counts()

0    3951
1     239
2       5
3       5
Name: Breakfast, dtype: int64

# BookingScore

In [9]:
# Change to numeric value
df.BookingScore.value_counts()

3 out of 5    1563
4 out of 5     764
5 out of 5      24
2 out of 5       1
Name: BookingScore, dtype: int64

In [10]:
BookingScoreReplacmentDict = {'1 out of 5': 1, '2 out of 5': 2, '3 out of 5': 3, '4 out of 5': 4, '5 out of 5': 5}
df.BookingScore = df.BookingScore.map(BookingScoreReplacmentDict)

In [11]:
# There are some Nan value, we assume that the meaning is 0 stars
df.BookingScore.fillna(0, inplace=True)
df.BookingScore = df.BookingScore.astype(int)
df.BookingScore.value_counts()

0    1848
3    1563
4     764
5      24
2       1
Name: BookingScore, dtype: int64

# BookingAward

In [12]:
df.BookingAward.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: BookingAward
Non-Null Count  Dtype
--------------  -----
4200 non-null   object
dtypes: object(1)
memory usage: 32.9+ KB

In [13]:
# There are no Nan value, only replave to numeric needed (משתנה בדיד ללא חשיבות לסדר)
BookingAwardReplacmentDict = {'Not Owned': 0,'Owned': 1}
df.BookingAward = df.BookingAward.map(BookingAwardReplacmentDict)

# Cancelation

In [14]:
df.Cancelation.value_counts()

Free cancellation                           1373
FREE cancellation • No prepayment needed     806
Name: Cancelation, dtype: int64

In [15]:
CancelationReplacmentDict = {'FREE cancellation • No prepayment needed': 1, 'Free cancellation': 2}
df.Cancelation = df.Cancelation.map(CancelationReplacmentDict)

In [16]:
# There are some Nan value, we assume that the meaning is No cancelation allowed
df.Cancelation.fillna(0, inplace=True)
df.Cancelation = df.Cancelation.astype(int)
df.Cancelation.value_counts()

0    2021
2    1373
1     806
Name: Cancelation, dtype: int64

# LocationScore

In [17]:
df.LocationScore.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: LocationScore
Non-Null Count  Dtype
--------------  -----
2079 non-null   object
dtypes: object(1)
memory usage: 32.9+ KB

In [18]:
# we want to change it from object type float type, so first we had to delete "Location "
df.LocationScore = df.LocationScore.str.replace("Location ", "") 
df.LocationScore = df.LocationScore.astype(float)
df.LocationScore.value_counts()

10.0    685
9.4     436
9.6     343
9.5     225
9.7     180
9.3     175
9.8      31
9.9       4
Name: LocationScore, dtype: int64

In [19]:
# We assume Nan ment hotel with no Location score filled up yet,
# and we didnt want to effect the data distrabution so we use median insted
df.LocationScore.fillna(df.LocationScore.median(), inplace=True)
df.LocationScore.value_counts()

9.6     2464
10.0     685
9.4      436
9.5      225
9.7      180
9.3      175
9.8       31
9.9        4
Name: LocationScore, dtype: int64

# Review

In [20]:
df.Review.unique()

array(['21 reviews', '157 reviews', '109 reviews', '76 reviews',
       '715 reviews', '219 reviews', '44 reviews', '54 reviews',
       '3,031 reviews', '4 reviews', '214 reviews', '264 reviews',
       '1,376 reviews', '2,014 reviews', '831 reviews', '804 reviews',
       '213 reviews', '696 reviews', '2,643 reviews', '347 reviews',
       '496 reviews', '63 reviews', '571 reviews', '472 reviews',
       '298 reviews', '1,224 reviews', '401 reviews', '271 reviews',
       '1,502 reviews', '1,627 reviews', '386 reviews', '209 reviews',
       '445 reviews', '134 reviews', '53 reviews', '1,125 reviews',
       '59 reviews', '803 reviews', '165 reviews', '660 reviews',
       '1,039 reviews', '1,419 reviews', '371 reviews', '112 reviews',
       '99 reviews', '1,623 reviews', '273 reviews', '883 reviews',
       '878 reviews', '889 reviews', '30 reviews', '1,620 reviews',
       '1,467 reviews', '2,429 reviews', '1,457 reviews', '13 reviews',
       '125 reviews', '3,442 reviews', '1,451 reviews', '190 reviews',
       '1,912 reviews', '742 reviews', '380 reviews', '1,848 reviews',
       '471 reviews', '1,595 reviews', '254 reviews', '747 reviews',
       '652 reviews', '117 reviews', '547 reviews', '1,573 reviews',
       '1,892 reviews', '1,266 reviews', '40 reviews', '852 reviews',
       '1,004 reviews', '1,354 reviews', '760 reviews', '359 reviews',
       '64 reviews', '1,227 reviews', '1,001 reviews', '130 reviews',
       '777 reviews', '680 reviews', '5 reviews', '1,904 reviews',
       '121 reviews', '25 reviews', '1,040 reviews', '546 reviews',
       '1,052 reviews', '104 reviews', '911 reviews', '327 reviews',
       '647 reviews', '95 reviews', '56 reviews', '495 reviews',
       '900 reviews', '19 reviews', nan, '113 reviews', '173 reviews',
       '2,196 reviews', '678 reviews', '789 reviews', '1,465 reviews',
       '1,213 reviews', '122 reviews', '18 reviews', '133 reviews',
       '187 reviews', '26 reviews', '2,175 reviews', '289 reviews',
       '1,092 reviews', '1,002 reviews', '297 reviews', '1,648 reviews',
       '618 reviews', '1,505 reviews', '1,211 reviews', '115 reviews',
       '83 reviews', '120 reviews', '3,112 reviews', '255 reviews',
       '963 reviews', '353 reviews', '648 reviews', '631 reviews',
       '378 reviews', '48 reviews', '465 reviews', '158 reviews',
       '145 reviews', '91 reviews', '34 reviews', '542 reviews',
       '479 reviews', '132 reviews', '607 reviews', '891 reviews',
       '1,053 reviews', '228 reviews', '482 reviews', '1 review',
       '675 reviews', '1,089 reviews', '139 reviews', '151 reviews',
       '314 reviews', '1,074 reviews', '849 reviews', '57 reviews',
       '80 reviews', '993 reviews', '147 reviews', '35 reviews',
       '1,204 reviews', '614 reviews', '368 reviews', '602 reviews',
       '1,329 reviews', '1,256 reviews', '32 reviews', '568 reviews',
       '346 reviews', '1,081 reviews', '1,544 reviews', '352 reviews',
       '703 reviews', '775 reviews', '60 reviews', '917 reviews',
       '84 reviews', '282 reviews', '370 reviews', '160 reviews',
       '126 reviews', '2,209 reviews', '574 reviews', '116 reviews',
       '351 reviews', '1,308 reviews', '97 reviews', '538 reviews',
       '79 reviews', '892 reviews', '70 reviews', '3 reviews',
       '37 reviews', '763 reviews', '183 reviews', '2,630 reviews',
       '922 reviews', '1,668 reviews', '239 reviews', '324 reviews',
       '208 reviews', '224 reviews', '251 reviews', '107 reviews',
       '135 reviews', '249 reviews', '14 reviews', '4,143 reviews',
       '250 reviews', '39 reviews', '415 reviews', '1,914 reviews',
       '8 reviews', '1,381 reviews', '519 reviews', '41 reviews',
       '210 reviews', '2,085 reviews', '741 reviews', '843 reviews',
       '144 reviews', '1,794 reviews', '738 reviews',
       '4 external reviews', '93 reviews', '175 reviews', '498 reviews',
       '274 reviews', '501 reviews', '94 reviews', '668 reviews',
       '601 reviews', '466 reviews', '74 reviews', '245 reviews',
       '847 reviews', '2,760 reviews', '469 reviews', '36 reviews',
       '691 reviews', '152 reviews', '303 reviews', '240 reviews',
       '403 reviews', '1,005 reviews', '745 reviews', '994 reviews',
       '191 reviews', '470 reviews', '526 reviews', '143 reviews',
       '441 reviews', '2,399 reviews', '108 reviews', '2 reviews',
       '345 reviews', '893 reviews', '241 reviews', '536 reviews',
       '29 reviews', '169 reviews', '333 reviews', '460 reviews',
       '357 reviews', '10 reviews', '211 reviews', '11 reviews',
       '88 reviews', '336 reviews', '42 reviews', '17 reviews',
       '77 reviews', '6 reviews', '1,021 reviews', '766 reviews',
       '114 reviews', '841 reviews', '450 reviews', '587 reviews',
       '955 reviews', '207 reviews', '566 reviews', '373 reviews',
       '636 reviews', '372 reviews', '1,189 reviews', '220 reviews',
       '16 reviews', '12 reviews', '369 reviews', '839 reviews',
       '85 reviews', '141 reviews', '27 reviews', '43 reviews',
       '20 reviews', '62 reviews', '596 reviews', '129 reviews',
       '1,025 reviews', '1,653 reviews', '31 reviews', '146 reviews',
       '15 reviews', '38 reviews', '281 reviews', '98 reviews',
       '279 reviews', '128 reviews', '1,108 reviews', '9 reviews',
       '7 reviews', '45 reviews', '65 reviews', '81 reviews',
       '950 reviews', '55 reviews', '71 reviews', '564 reviews',
       '517 reviews', '487 reviews', '518 reviews', '58 reviews',
       '658 reviews', '67 reviews', '408 reviews', '203 reviews',
       '33 reviews', '230 reviews', '22 reviews', '338 reviews',
       '75 reviews', '1,084 reviews', '28 reviews', '82 reviews',
       '101 reviews', '399 reviews', '1,022 reviews', '46 reviews',
       '958 reviews', '51 reviews', '310 reviews', '823 reviews',
       '23 reviews', '204 reviews', '170 reviews', '110 reviews',
       '814 reviews', '78 reviews', '194 reviews', '105 reviews',
       '66 reviews', '162 reviews', '186 reviews', '106 reviews',
       '379 reviews', '590 reviews', '688 reviews', '584 reviews',
       '47 reviews', '248 reviews', '156 reviews', '100 reviews',
       '50 reviews', '685 reviews', '174 reviews', '61 reviews',
       '68 reviews', '639 reviews', '1,087 reviews', '512 reviews',
       '915 reviews', '442 reviews', '257 reviews', '232 reviews',
       '136 reviews', '89 reviews', '24 reviews', '246 reviews',
       '177 reviews', '620 reviews', '142 reviews', '287 reviews',
       '123 reviews', '86 reviews', '103 reviews', '181 reviews',
       '410 reviews', '88 external reviews', '609 reviews', '138 reviews',
       '473 reviews', '52 reviews', '604 reviews', '137 reviews',
       '322 reviews', '308 reviews', '1,029 reviews', '102 reviews',
       '341 reviews', '243 reviews', '458 reviews', '258 reviews',
       '266 reviews', '488 reviews', '161 reviews', '667 reviews'],
      dtype=object)

In [21]:
# There is "review" suffix, lets get rid from it
df.Review = df.Review.str.replace(' reviews', '')
df.Review = df.Review.str.replace(' review', '')
df.Review = df.Review.str.replace(' external', '')
df.Review = df.Review.str.replace(',', '')
df.Review.fillna(0, inplace=True)
df.Review = df.Review.astype(int)
df.Review.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: Review
Non-Null Count  Dtype
--------------  -----
4200 non-null   int32
dtypes: int32(1)
memory usage: 16.5 KB

# SalePrice & OriginPrice

In [22]:
print(df.SalePrice.info()) # no Nan
print(df.OriginPrice.info()) # more then 3000 Nan
df.head(5)

<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: SalePrice
Non-Null Count  Dtype
--------------  -----
4200 non-null   object
dtypes: object(1)
memory usage: 32.9+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 4200 entries, 0 to 4199
Series name: OriginPrice
Non-Null Count  Dtype
--------------  -----
449 non-null    object
dtypes: object(1)
memory usage: 32.9+ KB
None

,Name,Score,ScoreInWord,Review,OriginPrice,SalePrice,Location,LocationScore,Breakfast,BookingAward,BookingScore,Cancelation
0,Superior Studio Vacation House by Stay Eilat -...,7.8,Good,21,"₪ 4,936","₪ 2,419",Eilat,9.6,0,0,3,1
1,La Perle Hotel,7.2,Good,157,"₪ 2,200","₪ 2,156","West Jerusalem, Jerusalem",9.4,0,0,0,0
2,Lago Suites Hotel,5.9,Review score,109,NaN,"₪ 2,992","West Jerusalem, Jerusalem",9.6,0,0,0,1
3,G38 Rental Apartment Building,8.5,Very good,76,NaN,"₪ 2,160",Haifa,9.3,0,0,3,0
4,Amdar Holiday Apartments,7.7,Good,715,NaN,"₪ 3,145",Eilat,9.6,0,1,3,1

In [23]:
# Nan in "origin price" column mean that there is no discount, if we put zero in this will be wrong
# so we chane this colums logic to hold the delta price
df.rename(columns={'OriginPrice': 'Discount', 'SalePrice': 'Price'}, inplace=True)

In [24]:
# Handle Nan nan and some unwanted text
df.Discount = df.Discount.str.replace('₪\xa0', '')
df.Discount = df.Discount.str.replace(',', '')
df.Price = df.Price.str.replace('₪\xa0', '')
df.Price = df.Price.str.replace(',', '')
df.Discount.fillna(0, inplace=True)
df.Price.fillna(0, inplace=True)
df.Price = df.Price.astype(int)
df.Discount = df.Discount.astype(int)

,Name,Score,ScoreInWord,Review,Discount,Price,Location,LocationScore,Breakfast,BookingAward,BookingScore,Cancelation
0,Superior Studio Vacation House by Stay Eilat -...,7.8,Good,21,4936,2419,Eilat,9.6,0,0,3,1
1,La Perle Hotel,7.2,Good,157,2200,2156,"West Jerusalem, Jerusalem",9.4,0,0,0,0
2,Lago Suites Hotel,5.9,Review score,109,0,2992,"West Jerusalem, Jerusalem",9.6,0,0,0,1
3,G38 Rental Apartment Building,8.5,Very good,76,0,2160,Haifa,9.3,0,0,3,0
4,Amdar Holiday Apartments,7.7,Good,715,0,3145,Eilat,9.6,0,1,3,1

In [25]:
df.head(5)

,Name,Score,ScoreInWord,Review,Discount,Price,Location,LocationScore,Breakfast,BookingAward,BookingScore,Cancelation
0,Superior Studio Vacation House by Stay Eilat -...,7.8,Good,21,4936,2419,Eilat,9.6,0,0,3,1
1,La Perle Hotel,7.2,Good,157,2200,2156,"West Jerusalem, Jerusalem",9.4,0,0,0,0
2,Lago Suites Hotel,5.9,Review score,109,0,2992,"West Jerusalem, Jerusalem",9.6,0,0,0,1
3,G38 Rental Apartment Building,8.5,Very good,76,0,2160,Haifa,9.3,0,0,3,0
4,Amdar Holiday Apartments,7.7,Good,715,0,3145,Eilat,9.6,0,1,3,1

In [24]:
df.Discount = df.Discount - df.Price
df.Discount = df.Discount.where(df.Discount >= 0, 0)
df.head(5)

,Name,Score,ScoreInWord,Review,Discount,Price,Location,LocationScore,Breakfast,BookingAward,BookingScore,Cancelation
0,Superior Studio Vacation House by Stay Eilat -...,7.8,Good,21,2517,2419,Eilat,9.6,0,0,3,1
1,La Perle Hotel,7.2,Good,157,44,2156,"West Jerusalem, Jerusalem",9.4,0,0,0,0
2,Lago Suites Hotel,5.9,Review score,109,0,2992,"West Jerusalem, Jerusalem",9.6,0,0,0,1
3,G38 Rental Apartment Building,8.5,Very good,76,0,2160,Haifa,9.3,0,0,3,0
4,Amdar Holiday Apartments,7.7,Good,715,0,3145,Eilat,9.6,0,1,3,1

# Score & ScoreInWord

In [25]:
df.ScoreInWord.unique()

array(['Good ', 'Review score ', 'Very good ', 'Superb ', 'Fabulous ',
       'Exceptional ', nan, 'Very good 8.0', 'Superb 9.0'], dtype=object)

In [26]:
# There are some nan value in this column. and we dont have any idea howw to estimate hotel score.
# so we will just drop them
df.dropna(subset = ['Score'], inplace=True)

# Handle duplicat

In [27]:
df.Name.value_counts()

Gordon SUITES - Sea U TLV                      103
liz's place                                    102
Touch of Rose                                  100
Nof LaGilboa                                    96
Hilltop luxury suites                           93
                                              ...
The Pearl of the Golan - Pnina BaGolan           1
Miami Beach Hotel Tel Aviv                       1
Center Chic Hotel - an Atlas Boutique Hotel      1
Eden's Boutique                                  1
Boutique suites in the old city                  1
Name: Name, Length: 779, dtype: int64

In [28]:
df.drop_duplicates(subset=['Name'], ignore_index=True, inplace=True)

### We can see over 3000 duplicate records This most likely cuz some hotel pay extra to pop up multiple time

In [30]:
df.to_csv('data/hotels-filtered.csv',index=False)